.nav-cont {
    background-color: $blue;
}

.mo-navbar {
    display: flex;
    align-items: center;
    height: 50px;

    @include sm {
        justify-content: space-between;
        width: 100%;
    }
}

.nav-li {
    margin: 0 11px;

    @include sm {
        margin: 0;
    }
}

.nav-anchor {
    font-size: 16px;
    color: #fff;
    font-family: med;
    @include transition(all 0.3s ease-in-out);

    &:hover,
    &:focus {
        color: $red;
    }
}