.feats-cont {
    background-color: $blue;
    margin-top: 107px;
    padding-top: 20px;
    padding-bottom: 24px;

    @include xs {
        margin-top: 60px;
    }
}

.feats-head {
    font-size: 24px;
    font-family: med;
    line-height: 1.2;
    color: #fff;

    @include sm {
        text-align: center;
        margin-bottom: 25px;
    }

    #{$ltr} & {
        font-size: 20px;
    }
}

.feats {
    display: flex;
    height: 100%;
    align-items: center;
    height: 56px;

    @include sm {
        flex-wrap: wrap;
        height: auto;
    }
}

.feat {
    display: flex;
    width: 25%;

    @include sm {
        width: auto;
    }

    @include xs {
        flex-direction: column;
        align-items: center;
        width: 50%;
        margin-bottom: 25px;
        text-align: center;
    }

    .feat-img {
        width: 38px;

        @include xs {
            width: auto;
            margin-bottom: 15px;
        }
    }

    .feat-name {
        font-size: 16px;
        color: #fff;

        @include xs {
            text-align: center;
        }
    }

    .feat-way {
        font-size: 18px;
        color: #fff;
        font-family: bold;
        text-transform: none;
    }
}

footer {
    background-color: #e0e0e0;
    padding-top: 65px;
    position: relative;
}

.nav-foot {
    @include sm {
        text-align: center;
    }
}

.foot-li {
    margin-bottom: 9px;

    &:last-of-type {
        margin-bottom: 0;
    }
}

.foot-anchor {
    font-size: 16px;
    color: $text;
    display: inline-block;
    backface-visibility: hidden;
    @include transition(all 0.3s ease-in-out);

    &:hover {
        color: $red;
        transform: translateX(-5px);

        #{$ltr} & {
            transform: translateX(5px);
        }
    }
}

.news-letter {
    margin-top: 65px;

    @include sm {
        margin-top: 40px;
        margin-bottom: 40px;
    }
}

.ship-pay {
    padding-right: 16px;
    padding-left: 8px;

    #{$ltr} & {
        padding-right: 8px;
        padding-left: 16px;
    }

    @include sm {
        padding: 0;

        #{$ltr} & {
            padding: 0;
        }
    }
}

.footer-items {
    display: flex;
    flex-wrap: wrap;

    @include sm {
        flex-wrap: nowrap;
        justify-content: center;
    }

    @include xs {
        flex-wrap: wrap;
        justify-content: center;
    }


    &.ship {
        margin-bottom: 35px;

        @include sm {
            margin-bottom: 30px;
        }
    }

    &.pay {
        @include sm {
            margin-bottom: 30px;
        }
    }

    &.social {
        width: 80px;

        @include sm {
            width: auto;
            margin-bottom: 30px;
        }

        .footer-item {
            width: calc(50% - 2.5px);
            margin-left: 5px;
            margin-bottom: 7px;
            -webkit-filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(337deg) brightness(118%) contrast(100%);
            filter: invert(99%) sepia(0%) saturate(2%) hue-rotate(337deg) brightness(118%) contrast(100%);

            #{$ltr} & {
                margin-left: 0;
                margin-right: 5px;
            }

            &.odd-head {
                color: #fff;
                filter: none;
            }

            @include sm {
                margin-bottom: 0;
                width: auto;
                filter: invert(31%) sepia(54%) saturate(1875%) hue-rotate(159deg) brightness(92%) contrast(94%);
                -webkit-filter: invert(31%) sepia(54%) saturate(1875%) hue-rotate(159deg) brightness(92%) contrast(94%);

                &.odd-head {
                    filter: none;
                    color: $text;
                    line-height: 35px;
                }
            }

            &:nth-of-type(2n) {
                margin-left: 0;

                #{$ltr} & {
                    margin-left: 0;
                    margin-right: 0;
                }

                @include sm {
                    margin-left: 5px;

                    #{$ltr} & {
                        margin-left: 0;
                        margin-right: 5px;
                    }
                }
            }

            &:last-of-type {
                @include sm {
                    margin-left: 0;

                    #{$ltr} & {
                        margin-left: 0;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &.download {
        padding-right: 30px;
        position: relative;

        #{$ltr} & {
            padding-right: 0;
            padding-left: 30px;

            @include sm {
                padding: 0;
            }
        }

        @include sm {
            padding: 0;
        }


        .footer-item {
            margin-bottom: 8px;

            @include sm {
                width: auto;
            }

            &.odd-head {
                #{$ltr} & {
                    font-size: 15px;

                    @include sm {
                        font-size: 17px;
                    }
                }
            }

            @include xs {
                &.odd-head {
                    width: 100%;
                }
            }
        }
    }
}

.footer-item {
    width: calc(50% - 9.5px);
    margin-left: 19px;
    margin-bottom: 13px;
    position: relative;
    z-index: 7;

    #{$ltr} & {
        margin-right: 19px;
        margin-left: 0;
    }

    @include sm {
        width: auto;
        order: 2;

        &.odd-head {
            order: 1;
        }
    }

    @include xs {
        width: auto;
        margin-left: 6px;

        #{$ltr} & {
            margin-right: 6px;
            margin-left: 0;
        }

        &.odd-head {
            width: 100%;
            margin-bottom: 15px;
            text-align: center;
        }
    }

    &:nth-of-type(2n) {
        margin-left: 0;

        #{$ltr} & {
            margin-right: 0;
            margin-left: 0;
        }

        @include sm {
            margin-left: 12px;

            #{$ltr} & {
                margin-right: 12px;
                margin-left: 0;
            }
        }

        @include xs {
            margin-left: 6px;

            #{$ltr} & {
                margin-right: 6px;
                margin-left: 0;
            }
        }
    }

    &:last-of-type {
        @include sm {
            margin-left: 0;

            #{$ltr} & {
                margin-right: 0;
                margin-left: 0;
            }
        }
    }
}

.mobile-back {
    position: absolute;
    right: -18px;
    top: -90px;

    @include sm {
        display: none;
    }

    #{$ltr} & {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        right: auto;
        left: -18px;
    }
}

.mc {
    text-align: left;
    margin-top: 140px;

    #{$ltr} & {
        text-align: right;
    }

    @include sm {
        margin: 25px 0 0;
        text-align: center;

        #{$ltr} & {
            text-align: center;
        }
    }
}


.last-footer {
    border-top: 1px solid rgba(#000, 0.1);
    height: 54px;
    margin-top: 52px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: $text;

    img {
        margin-right: 4px;
    }

    @include sm {
        margin-top: 40px;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 20px 0;

        &.tasawk {
            margin-top: 20px;
        }
    }
}

.download {
    .footer-item {
        position: relative;
        width: max-content;

        &:hover {
            .qr {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    .qr {
        position: absolute;
        right: 105px;
        top: 50%;
        transform: translateY(-75%);
        opacity: 0;
        visibility: hidden;
        @include transition(all 0.3s ease-in-out);

        @include sm {
            display: none;
        }

        #{$ltr} & {
            -webkit-transform: scaleX(-1) translateY(-75%);
            transform: scaleX(-1) translateY(-75%);
            right: auto;
            left: 105px;
        }
    }

}